input.input-code {
    font-size:3em;
    text-align:center;
    padding:1em;
}
ul.steps {
    padding-left:20px;
    font-size:1.2em;
    list-style:none
}
ul.steps li span {
    opacity: 0.5;
    color: white;
    border-radius: 4px;
    padding: 3px 10px;
    margin: -3px 0 0 10px;
}
ul.steps li span.grey {
    background: #555;
}
ul.steps li span.green {
    background: #aaa;
}
ul.steps li span.red {
    background: #d80;
}
ul.steps>li.active {
    list-style: circle;
}
ul.steps>li.active span{
    opacity: 1;
}
ul.steps>li>ul {
    list-style:none;
}
ul.steps>li>ul.green {
   color:green;
}
ul li {
    color: #aaa;
    line-height: 2em;
}
ul li.active,
ul li.active ul li{
    color: black;
}