<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Packer Symfony2{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Packer Symfony2</a>
        </div>
      </div>
    </nav>

    <div class="container" style='margin-top:80px;'>
      {% block body %}{% endblock %}

      <hr>
      <footer>
        <p>© X-Coding 2015</p>
      </footer>
    </div> <!-- /container -->
</body></html>