{% extends 'base.html.twig' %}

{% block body %}
 
{% set id = random(100000) %}

<h2>Transakcja #{{ transaction.getId }}</h2>

<div class='row'>
    <div class='col-lg-8'>
        <form class='well'>
            <div class="form-group">
                <input class="input-code form-control" id="input-code-{{ id }}" placeholder="Wpisz 13-cyfrowy kod" />
            </div>
            <ul class="steps" style="" id="log-box-{{ id }}">
                <li class="active"><b>Krok1:</b> otwarcie boxa <span></span></li>
                <li><b>Krok2:</b> otwartcie zamówienia <span></span></li>
                <li><b>Krok3:</b> skanowanie produktów <span></span>
                    <ul id="products-{{ id }}">
                    </ul>
                </li>
                <li><b>Krok4:</b> zamknięcie boxa <span></span></li>
                <li><b>Krok5:</b> zamknięcie zamówienia<span></span></li>
                <li><b>Krok6:</b> wydrukowanie etykiety<span></span></li>
                <li><b>Krok7:</b> koniec</li>
            </ul>
        </form>
    </div>
    <div class='col-lg-4'>
      <h3>Hints</h3>
      <p>Box codes: {{ boxCodesJson|raw }}</p>
      <p>Product codes: {{ productsJson|raw }}</p>
    </div>
</div>
                    
<script>
$( document ).ready(function() {
     PACKER{{ id }} = packerModule ({
        id: {{ id }},
        transactionId: {{ transaction.getId }},
        statusBlocked: {{ statusStart }},
        statusFinished: {{ statusEnd }},
        boxCodesJson: JSON.parse('{{ boxCodesJson|raw }}'),
        productsJson: JSON.parse('{{ productsJson|raw }}'),
        logSelector: $('#log-box-{{ id }} li.active'),
        inputSelector: $('#input-code-{{ id }}'),
        productsSelector: $('#products-{{ id }}')
      });

    console.log("Obiekt główny: PACKER{{ id }}");
    console.log(PACKER{{ id }}.productValidator.products); // remove this in production

    PACKER{{ id }}.reloadProducts();
    PACKER{{ id }}.clearInput();
    $('#input-code-{{ id }}').keyup(function () {
        switch(PACKER{{ id }}.getState()) {
        case 0:
            PACKER{{ id }}.codeValidator.validate($('#input-code-{{ id }}').val(),
                PACKER{{ id }}.showError,
                function (code) {
                    PACKER{{ id }}.boxValidator.validate(code,
                        PACKER{{ id }}.showError,
                        function (code) {
                            PACKER{{ id }}.showMessage('box #' + code + ' otwarty poprawnie');
                            PACKER{{ id }}.moveActiveClass();
                            PACKER{{ id }}.disableInput();

                            PACKER{{ id }}.showMessage('otwieranie zamówienia...');
                            $.ajax({
                                type: 'POST',
                                data: {
                                    status: PACKER{{ id }}.getStatusBlocked()
                                },
                                url: "/transaction/" + PACKER{{ id }}.getTransactionId(),
                                success: function () {
                                  PACKER{{ id }}.showMessage('zamówienie otwarte poprawnie');
                                  PACKER{{ id }}.nextState();
                                  PACKER{{ id }}.clearInput();
                                },
                                error: function (jqXHR) {
                                  console.log(jQuery.parseJSON(jqXHR.responseText));
                                  PACKER{{ id }}.showError('błąd podczas otwierania zamówienia: ' + jQuery.parseJSON(jqXHR.responseText)[0].error.message);
                                }
                            });
                    });
                });

            break;
        case 1:
            PACKER{{ id }}.codeValidator.validate($('#input-code-{{ id }}').val(),
                PACKER{{ id }}.showError,
                function (code) {
                    PACKER{{ id }}.productValidator.validate(code,
                        PACKER{{ id }}.showError,
                        function (code) {
                            PACKER{{ id }}.reloadProducts();
                            PACKER{{ id }}.showMessage('produkt #' + code + ' zeskanowany poprawnie');

                            if (!PACKER{{ id }}.productValidator.anyProductsLeft()) {
                              PACKER{{ id }}.showMessage('wszystkie produkty zeskanowane poprawnie');
                              PACKER{{ id }}.nextState();
                              PACKER{{ id }}.showMessage('wpisz lub zeskanuj numer boxa...');
                            }
                            PACKER{{ id }}.clearInput();
                            PACKER{{ id }}.codeValidator.reset();
                    });
                });
            break;
        case 2:
            PACKER{{ id }}.codeValidator.validate($('#input-code-{{ id }}').val(),
                PACKER{{ id }}.showError,
                function (code) {
                    PACKER{{ id }}.boxValidator.validateComparingWithLast(code,
                        PACKER{{ id }}.showError,
                        function (code) {
                            PACKER{{ id }}.showMessage('box #' + code + ' zamknięty poprawnie');
                            PACKER{{ id }}.moveActiveClass();
                            PACKER{{ id }}.disableInput();

                            PACKER{{ id }}.showMessage('zamykanie zamówienia...');
                            $.ajax({
                                type: 'POST',
                                data: {
                                    status: PACKER{{ id }}.getStatusFinished()
                                },
                                url: "/transaction/" + PACKER{{ id }}.getTransactionId(),
                                success: function () {
                                    PACKER{{ id }}.showMessage('zamówienie zamknięte poprawnie');
                                    PACKER{{ id }}.nextState();
                                    PACKER{{ id }}.disableInput();

                                    PACKER{{ id }}.showMessage('generowanie etykiety..');

                                    $.ajax({
                                        type: 'GET',
                                        url: "/transaction/" + PACKER{{ id }}.getTransactionId() + '/print',
                                        success: function () {
                                          PACKER{{ id }}.showMessage('etykieta wygenerowana');
                                          PACKER{{ id }}.nextState();
                                        },
                                        error: function (jqXHR) {
                                          console.log(jQuery.parseJSON(jqXHR.responseText));
                                          PACKER{{ id }}.showError('błąd podczas generowania etykiety: ' + jQuery.parseJSON(jqXHR.responseText)[0].error.message);
                                        }
                                    });
                                },
                                error: function (jqXHR) {
                                  console.log(jQuery.parseJSON(jqXHR.responseText));
                                  PACKER{{ id }}.showError('błąd podczas zamykania zamówienia: ' + jQuery.parseJSON(jqXHR.responseText)[0].error.message);
                                }
                            });
                    });
                });
            break;
        default:
            return;
        }
    });
});
</script>

{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('bundles/xcpacker/css/bootstrap.min.css') }}" />
   <link rel="stylesheet" href="{{ asset('bundles/xcpacker/css/packer.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ asset('bundles/xcpacker/js/code_validator.js') }}"></script>
    <script src="{{ asset('bundles/xcpacker/js/product_validator.js') }}"></script>
    <script src="{{ asset('bundles/xcpacker/js/box_validator.js') }}"></script>
    <script src="{{ asset('bundles/xcpacker/js/packer_module.js') }}"></script>
{% endblock %}