<head>
    <meta charset="UTF-8">
    <style>
	    * {
		    font-family: Arial, sans-serif;
		}
        table.main tr td {
            width: 100%;
            font-size: 18px;
        }
        table.inner {
            width: 100%;
        }
        table.inner tr td {
            padding: 3px;
        }
        table.inner tr td.bordered {
            border: 1px solid black;
            font-size:18px;
        }
        table.inner tr td.bordered img{
            width: 20px;
            margin: -2px;
        }
        table.centered {
            width: 100%;
            margin-top: 10px;
        }
        table.centered tr td {
            padding: 0;
            text-align: center;
            width: 33%;
            font-size: 22px;
            letter-spacing: 1.8px;
        }
        table.centered tr td.note {
            text-align: right;
            font-size: 18px;
            letter-spacing: 0;
        }
    </style>
</head>
<body>
    <table class="main">
        <tr>
            <td>Absender: xxxxxxx.de<br />GLS Depot xx, Gewerbering Süd x, 00000 Bretnig</td>
            <td></td>
        </tr>
        <tr>
            <td>
                Lieferadresse:
                <table class="inner">
                    <tr>
                        <td class="bordered">
                            <b>{{ address.getName }} {{ address.getSurname }}</b>
                            <br />{{ address.getStreet }} {{ address.getNumber }}
                            <br /><b>{{ address.getPostCode }}</b> {{ address.getCity }}, {{ address.getCountry }}
                            <br />{{ address.getPhone }}
                        </td>
                    </tr>
                </table>
                <table class="centered">
                    <tr>
                        <td></td>
                        <td>{{ barcode|raw }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>{{ number|slice(0, 11) }}</b> {{ number|slice(11, 1) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan='3' class="note">{{ transaction.getId }}/{{ transaction.getCreated|date("Y") }}</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
    </table>
</body>